####################
# BENCHMARKS STUFF #
####################

#####################
# all tar files ... #
#####################
**/*.tar.*

################################
#                              #
# BENCHMARKS build directories #
#                              #
################################
benchmarks/BENCHMARK_**/build/

###########
#         #
# libtiff #
#         #
###########
benchmarks/libtiff*/tiff-3.8.2/*
benchmarks/libtiff*/build/*

#########
#       #
# mupdf #
#       #
#########
benchmarks/mupdf*/mupdf-1.12.0-source/*

############
#          #
# openjpeg #
#          #
############
benchmarks/openjpeg*/openjpeg-2.3.0/*
benchmarks/openjpeg*/build/*

#############
#           #
# dnstracer #
#           #
#############
benchmarks/BENCHMARK_02_END_TO_END__dnstracer/dnstracer-1.6/*
benchmarks/dnstracer*/dnstracer-1.6/*
benchmarks/dnstracer*/build/*

#############
#           #
#    vlc    #
#           #
#############
benchmarks/vlc*/vlc-2.2.0/*
benchmarks/vlc*/build/*

###########
#         #
# libosip #
#         #
###########
benchmarks/libosip*/libosip2-4.1.0/*
benchmarks/libosip*/build/*

########
#      #
# gzip #
#      #
########
benchmarks/gzip*/gzip-1.2.4a/*
benchmarks/gzip*/build/*
benchmarks/gzip*/myInput/B/*

############
#          #
# graphviz #
#          #
############
benchmarks/graphviz*/graphviz*/*
benchmarks/graphviz*/build/*

Release/
Release+Asserts/
Debug/
Debug+Asserts/
Output/
*.swp

benchmarks/libosip_bitcode/makefile
benchmarks/libosip_bitcode/myGdbScripts/gdbCommands.txt
benchmarks/libosip_bitcode_vanilla/Z3LogAPI.txt
benchmarks/libosip_bitcode_vanilla/Z3queries.txt
benchmarks/libosip_bitcode_vanilla/makefile

###########
#         #
# Z3 logs #
#         #
###########
**/.z3-trace
**/Z3LogAPI.txt
**/Z3queries.txt

# commonly used as cmake build directory
/build

cscope.*
*~

*.log
*.sum
*.out
*.status

# In source build files
docs/doxygen.cfg
include/klee/Config/CompileTimeInfo.h
*.config

config.h
site.exp

# Site file for llvm-lit
lit.site.cfg

# Autoconf files
autoconf/aclocal.m4
autoconf/autom4te.cache/
autom4te.cache/
###################################
#                                 #
# Static Analysis Temporary Files #
#                                 #
###################################
benchmarks/C_2_C_Translations/DaLoopKiller/LOOPS_SUMMARIES/LOOP_OUTPUT_*
benchmarks/C_2_C_Translations/DaLoopKiller/ANALYSIS_STEPS/*
